<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card border-danger mb-3" style="max-width: 30rem;">
            <div class="card-header text-center">
                <h1><i class="fab fa-node-js fa-3x"></i></h1>
                <h3>Create an account or login</h3>
            </div>
            <div class="card-body text-center">
                <a href="/user/login" class="btn btn-primary btn-block mb-2">Login</a>
                <a href="/user/register" class="btn btn-primary btn-block mb-2">Register</a>
            </div>
          </div>
    </div>
</div>